
.chat {
	height:900px;
	padding-left: 0;
	padding-right: 10px;
	border: 2px solid #000;
	display: block;
	font-size: 16px; 	
	color: #0f0f0f;
}


.panelChat{

	// background-image: url('../images/chat/fondTest.jpg');
	background: rgba(245, 245,245,0.5);
	background-repeat: no-repeat;
	background-size: cover;
	overflow-y: scroll; 	
}

.panel-minichat {

	margin-top: 150px;
	color:#0f0f0f;
	height: 600px;
	display: block; 

}

.form-horizontal {
	margin: 3px;
	padding: 2px;
}

.btnEnvoyer{

	background-image: url('../images/bouton/bouton1.png');
	background-size: 100% 100%;
	background-color: #604020;
	height: 35px;
	width: 110px;
	border: none;
	font-size: 1em;
	text-align: center;
    border-radius: 15px;
    color: #ffffff;

}

.btnEnvoyer:visited{
  color: #ffffff;
}

.btnEnvoyer:hover{
  background-color: #604020;
  transform: translateY(4px);
  color: #ffffff; 
}


.btnEnvoyer:focus{
	background-color: #604020;	
	color: #ffffff;
}

.btnEnvoyer:active{
	background-image: url('../images/bouton/bouton1.png');
	background-color: #604020;
	background-size: 100% 100%;
	color: #ffffff; 
}

.mess {
	font-family: sans-serif;
	color: #0f0f0f;
}

.lab {
	font-family: Arial;
	font-size: 16px;
	color: #0f0f0f;
	font-weight: bold;
}